<%= form_with(model: delivered_award, local: true) do |form| %>
  <% if delivered_award.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(delivered_award.errors.count, "error") %> prohibited this delivered_award from being saved:</h2>

      <ul>
      <% delivered_award.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :award_id %>
    <%= form.text_field :award_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
