<p id="notice"><%= notice %></p>

<h1>Delivered Awards</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Award</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @delivered_awards.each do |delivered_award| %>
      <tr>
        <td><%= delivered_award.user %></td>
        <td><%= delivered_award.award %></td>
        <td><%= link_to 'Show', delivered_award %></td>
        <td><%= link_to 'Edit', edit_delivered_award_path(delivered_award) %></td>
        <td><%= link_to 'Destroy', delivered_award, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Delivered Award', new_delivered_award_path %>
