<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @delivered_award.user %>
</p>

<p>
  <strong>Award:</strong>
  <%= @delivered_award.award %>
</p>

<%= link_to 'Edit', edit_delivered_award_path(@delivered_award) %> |
<%= link_to 'Back', delivered_awards_path %>
